.item {
  width: 45%; /* Reduced from 50% */
  margin: 8px;
}
.link {
  display: flex;
  align-items: center;
  background-color: #ffffff33;
  height: 85%;
  border-radius: 12px;
  border: 1px solid #ffffff;
  margin-bottom: 24px;
  text-decoration: none;
  padding: 12px; /* Reduced padding */
  margin: 0;
}
.item-name {
  font-size: 28px;
  text-decoration: none;
  color: white;
}
.ipl-item-logo {
  height: 80px;
}
